.div_dompromo {
    /** margin-left:25px; **/
    background-color: #d9edf759;
    border-color: #bce8f1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.td_dompromo {text-align:center;color:#444;padding-right: 5px;width: 41%;}
.th_dompromo {text-align:center;font-size:1.1em;}

div#div_dompromo td:nth-child(1), td:nth-child(5), td:nth-child(3) {
   display: none;
}

div#div_dompromo th:nth-child(1), th:nth-child(5), th:nth-child(3) {
   display: none;
}
@media only screen and (max-width: 600px) {
  .div_dompromo {
    background-color: white;
    padding: 3px;
  }
}
.suggested-domains .promo.sale .promo.hot .promo.new {
    text-transform: lowercase;
}
